.action-button {
  color: white;
  background-color: #709699;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.edit-button {
  color: white;
  background-color: #2fc0cc;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.delete-button {
  color: white;
  background-color: #e28c94;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.submit-button {
  color: white;
  background-color: #cc2f8c;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.inline {
  display: inline;
}

hr {
  border: 1px solid #54ffac;
}

textarea,
input {
  border: 0;
  border-bottom: 1px solid #cc2f8c;
}

input:focus,
textarea:focus {
  outline: 0;
}

.form-control {
  margin-bottom: 1rem;
}

/*
#2FC0CC
#709699
#54FFAC
#E28C94
#CC2F8C 
*/
